header{
    padding:5px 10px 0 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
}
header p{
    text-align: center;
    
}
#ingresoYotros a{
    color: rgb(185, 105, 0);
}
footer{
    background-color: wheat;
    padding: 5px;
}
.clear{
    clear:both;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#ingresoYotros a:hover{
    color: blueviolet;
    transition: color .2s;
}
.nav a:hover{
    color:orange;
    border:1px solid yellowgreen;
    transition: color .2s;
    transition: border .2s;
}


.navmenu a:hover{
    color:orange;
    transition: color .2s;
}